DB_BACKEND={duckdb OR postgresql}
DUCKDB_PATH={path_to_duckdb_file}
AIS_DATA_PATH={path_to_folder_with_aisdk-YYYY-MM-DD.pq_files}
AIS_START_DATE={optional_default_start_date_YYYY-MM-DD}
AIS_END_DATE={optional_default_end_date_YYYY-MM-DD}
DUCKDB_SCHEMA={db_schema_name}
DUCKDB_LS_SCHEMA={optional_ls_schema_name_fallbacks_to_DUCKDB_SCHEMA}
DUCKDB_CS_SCHEMA={optional_cs_schema_name_fallbacks_to_DUCKDB_SCHEMA}
POSTGRESQL_URL=postgresql://{username}:{password}@{serverip}:{port}/{dbname}
POSTGRESQL_SCHEMA={db_schema_name}
POSTGRESQL_LS_SCHEMA={optional_ls_schema_name_fallbacks_to_POSTGRESQL_SCHEMA}
POSTGRESQL_CS_SCHEMA={optional_cs_schema_name_fallbacks_to_POSTGRESQL_SCHEMA}

# Optional ETL step toggles (if omitted, prompts are shown for each step)
# Accepted values: y/yes/1/true or n/no/0/false
ETL_PROCEED={optional_true_or_false}
ETL_DROP={optional_true_or_false}
ETL_DROP_LS={optional_true_or_false}
ETL_DROP_CS={optional_true_or_false}
ETL_CREATE_SCHEMA={optional_true_or_false}
ETL_CREATE_TABLES={optional_true_or_false}
ETL_CREATE_POINTS={optional_true_or_false}
ETL_CONSTRUCT={optional_true_or_false}
ETL_TRANSFORM={optional_true_or_false}