DB_BACKEND={duckdb OR postgresql}
DUCKDB_PATH={path_to_duckdb_file}
DUCKDB_SCHEMA={db_schema_name}
POSTGRESQL_URL=postgresql://{username}:{password}@{serverip}:{port}/{dbname}
POSTGRESQL_SCHEMA={db_schema_name}