DATABASE_URL=postgresql://{username}:{password}@{serverip}:{port}/{dbname}
DB_BACKEND={duckdb OR postgresql}
DUCKDB_PATH={path_to_duckdb_file}
POSTGRESQL_SCHEMA={db_schema_name}
DUCKDB_SCHEMA={db_schema_name}