click==8.3.0
geographiclib==2.1
geopy==2.4.1
mercantile==1.2.1
numpy==2.3.3
psycopg-binary==3.2.10
psycopg==3.2.10
python-dotenv==1.1.1
shapely==2.1.1
typing_extensions==4.15.0
tzdata==2025.2
duckdb==1.4.4
ukc_core==0.1.4
pyarrow==22.0.*
